body{
  padding: 0;
  margin: 0;
  touch-action: none;
}

#container{
  background-color: black;
  background-image: linear-gradient(#292a30 .1em, transparent .1em), 
    linear-gradient(90deg, #292a30 .1em, transparent .1em);
  background-size: 2em 2em;

  height: 100vh;
}

.card{
  width: 30px;
  height: 30px;
  background-color: #AFDA9F;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.button{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #AFDA9F;
  color: white;
  position: fixed;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

